<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="student.css">
    <title>Document</title>
</head>
<body>
    <div class='container'>
        <div class="student">
            <div class="photo-title">
                <h1 class="name">Name: <%=student.firstName%> <%=student.lastName%></h1>
                <h3>Title: <%= student.title %></h3>
                <img class="student-img"   
                    <%if(!student.src){%>
                        src=<%='background2.jpg'%>
                    <%}else{%>
                        src=<%=student.src%> alt =<%=student.alt%> >
                        <%}%>
                </div>
                <div class="data">
                <h3>Nationality: <%=student.nationality%></h3>
                <div class="skills"><h3>Skills: </h3>
                    <%student.skills.forEach((skill)=>{%>
                        <h3><%=skill+ ' ' %>, </h3>
                    <%})%>
                </div>
                <h3>Why Software Developer: <%=student.whySofterDeveloper%></h3>
                <h3>Long Term Vision: <%=student.longTermVision%></h3>
                <h3>Motivates Me: <%=student.motivatesMe%></h3>
                <h3>Favorite Quote: <%=student.favoriteQuote%></h3>
                <h3>Joined On: <%=student.joinedOn%></h3>
            </div>
            <a class="back-btn" href='/'>Back</a>
        </div>   
</div>
    
</body>
</html>